[Desktop Entry]
Name=Miry
X-KDE-PluginInfo-Name=Miry
X-KDE-PluginInfo-Author=Alessandro Bompadre
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
